<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('src/Hunt/Tests/TestFiles')
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR1'                           => true,
        '@PSR2'                           => true,
        '@Symfony'                        => true,
        'align_multiline_comment'         => ['comment_type' => 'phpdocs_like'],
        'array_indentation'               => true,
        'array_syntax'                    => ['syntax' => 'short'],
        'binary_operator_spaces'          => ['align_double_arrow' => true],
        'blank_line_after_namespace'      => true,
        'blank_line_after_opening_tag'    => true,
        'blank_line_before_statement'     => true,
        'braces'                          => true,
        'cast_spaces'                     => true,
        'class_attributes_separation'     => true,
        'concat_space'                    => ['spacing' => 'one'],
        'explicit_indirect_variable'      => true,
        'method_chaining_indentation'     => true,
        'native_constant_invocation'      => true,
        'native_function_casing'          => true,
        'no_empty_comment'                => true,
        'no_useless_else'                 => true,
        'php_unit_construct'              => true,
        'php_unit_internal_class'         => true,
        'php_unit_method_casing'          => true,
        'php_unit_mock_short_will_return' => true,
        'php_unit_ordered_covers'         => true,
        'strict_param'                    => true,
    ])
    ->setFinder($finder);
